.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.w-100 {
    width: 100%
}

.align-items-center {
    align-items: center;
}

.h-100 {
    height: 100%
}

.ml-30 {
    margin-left: 30px;
}